<title>RESERVAS</title>

<body>
  <style>
    #calendar {
      padding: 5px;
      max-width: 1200px;
      margin: 0 auto;
    }
  </style>
  <main class="main-container">
    <div class="row">
      <h1 class="text-center">RESERVAS<span class="material-symbols-outlined">calendar_month</span></h1>
    </div>
    <div class="container-fluid" id='calendar'></div>
  </main>
  </div>
</body>