 <script src='/js/validarReserva.js'></script>
<footer class="footer footer-default text-white">
  <div class="container">
    <div class="copyright float-none text-center flex col2">
      <p>&#169 Todos los derechos reservados</p>
    </div>
  </div>
</footer>

</html>