<main class="main-container">

   <div class="row">


        <div class="row">
            <h1 class="text-center">MIS SANCIONES <span class="material-symbols-outlined">cancel_presentation</span></h1>
          

        </div>
    </div>





    <div class="container-fluid">

        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tipo de sancion</th>
                        <th scope="col">Observacion</th>
                        <th scope="col">Fecha de asignacion</th>
                        <th scope="col">Fecha de compromiso</th>
                        <th scope="col">Fecha de cierre</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>


                    <tr>

                        <td>Restraso</td>
                        <td>Entrego un día despues de la fecha</td>
                        <td>22/11/2022</td>
                        <td>23/11/2022</td>
                        <td>24/11/2022</td>
                        <td>Finalizada</td>

                    </tr>


                    <tr>


                        <td>Rayado</td>
                        <td>Proceso disciplinario</td>
                        <td>25/11/2022</td>
                        <td>17/12/2022</td>
                        <td>18/12/2022</td>
                        <td>disciplinario</td>
                      
                    </tr>

                 

                </tbody>
            </table>
        </div>
    </div>

</main>
</div>