<title>RESERVAS</title>

<main class="main-container ">
	<h1 class="text-center">GESTIÓN DE RESERVAS <span class="material-symbols-outlined">bookmark_add</span></h1>
	<div class="col-md-10 form-book">

	<div class="header-right">
    	<a class="" href="reservas">
			<span class="material-symbols-outlined">logout</span>
    	</a>
    </div>  
	
    	<form action="" class="formulario" id="formulario">
        <!-- Grupo: isbn -->
			<div class="formulario__grupo" id="grupo__documento">
				<label for="documento" class="formulario__label">Documento</label>
				<div class="formulario__grupo-input">
					<input type="number" class="formulario__input" name="documento" id="documento" placeholder="Ingrese documento">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El documento tiene que ser de 4 a 16 dígitos y solo puede contener numeros.</p>
			</div>

			<!-- Grupo: fecha -->
			<div class="formulario__grupo" id="grupo__fecha">
				<label for="fecha" class="formulario__label">Fecha</label>
				<div class="formulario__grupo-input">
					<input type="date" class="formulario__input" name="fecha" id="fecha">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Debes ingresar una fecha.</p>
			</div>


			<!-- Grupo: horaInicio -->
			<div class="formulario__grupo" id="grupo__horaInicio">
				<label for="horaInicio" class="formulario__label">Hora de inicio</label>
				<div class="formulario__grupo-input">
					<input type="time" class="formulario__input" name="horaInicio" id="horaInicio">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Debes ingresar una hora inicial.</p>
			</div>

            <!-- Grupo: horaFin -->
			<div class="formulario__grupo" id="grupo__horaFin">
				<label for="horaFin" class="formulario__label">Hora de finalizacion</label>
				<div class="formulario__grupo-input">
					<input type="time" class="formulario__input" name="horaFin" id="horaFin">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Debes ingresar una hora de finalizacion.</p>
			</div>

			<div class="formulario__mensaje" id="formulario__mensaje">
				<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
			</div>

			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<a href="#" type="submit" id="agregarReserva" class="btn btn-dark agre  formulario__btn">Agregar</a>
				<a href="#" id="actualizarReserva" class="btn btn-success mover  formulario__btn">Actualizar</a>
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
			</div>
		</form>      
	</div>
</main>

</div>