<!-- Main -->
<main class="main-container" id="contdasboard">
   
  <div class="board">
    <div class="card cajasan" style="word-wrap: normal;" >
      <h3 class="titulore">Reportes</h3>
 
    <input class="in" type="date" name="HOLA MUNDO" id="" style="font-size: 12px;" >

    <a href="dashboard" class="btn btn-dark buton" type="submit">Visualizar</a>

    </div>

   

    <div class="sub_board-card">
      <p class="chart-title">Préstamos</p>
      <div class="sep_board"></div>
      <div class="cont_board">
        <div class="graf_board">
          <div class="barra">
            <div class="sub_barra b1">
              <div class="tag_g">45%</div>
              <div class="tag_leyenda">Junio</div>
            </div>
          </div>
          <div class="barra">
            <div class="sub_barra b2">
              <div class="tag_g">35%</div>
              <div class="tag_leyenda">Julio</div>
            </div>
          </div>
          <div class="barra">
            <div class="sub_barra b3">
              <div class="tag_g">65%</div>
              <div class="tag_leyenda">Agosto</div>
            </div>
          </div>
          <div class="barra">
            <div class="sub_barra b4">
              <div class="tag_g">85%</div>
              <div class="tag_leyenda">Septiembre</div>
            </div>
          </div>
          <div class="barra">
            <div class="sub_barra b5">
              <div class="tag_g">95%</div>
              <div class="tag_leyenda">Octubre</div>
            </div>
          </div>
        </div>
        <div class="tag_board">
          <div class="sub_tag_board">
            <div>100</div>
            <div>90</div>
            <div>80</div>
            <div>70</div>
            <div>60</div>
            <div>50</div>
            <div>40</div>
            <div>30</div>
            <div>20</div>
            <div>10</div>
          </div>
        </div>
      </div>
      <div class="sep_board"></div>
    </div>






    <div class="sub_board-card">
      <p class="chart-title">Reservas</p>
      <div class="sep_board"></div>
      <div class="cont_board">
        <div class="graf_board">
          <div class="barra">
            <div class="sub_barra b6">
              <div class="tag_g">35%</div>
              <div class="tag_leyenda">Enero</div>
            </div>
          </div>
          <div class="barra">
            <div class="sub_barra b7">
              <div class="tag_g">45%</div>
              <div class="tag_leyenda">Febrero</div>
            </div>
          </div>
          <div class="barra">
            <div class="sub_barra b8">
              <div class="tag_g">15%</div>
              <div class="tag_leyenda">Marzo</div>
            </div>
          </div>
          <div class="barra">
            <div class="sub_barra b9">
              <div class="tag_g">60%</div>
              <div class="tag_leyenda">Abril</div>
            </div>
          </div>
          <div class="barra">
            <div class="sub_barra b0">
              <div class="tag_g">25%</div>
              <div class="tag_leyenda">Mayo</div>
            </div>
          </div>
        </div>
        <div class="tag_board">
          <div class="sub_tag_board">
            <div>100</div>
            <div>90</div>
            <div>80</div>
            <div>70</div>
            <div>60</div>
            <div>50</div>
            <div>40</div>
            <div>30</div>
            <div>20</div>
            <div>10</div>
          </div>
        </div>
      </div>
      <div class="sep_board"></div>
    </div>
  </div>
</main>
<!-- End Main -->

</div>