<main class="main-container">

    <h1 class="text-center">SANCIONES <span class="material-symbols-outlined">cancel_presentation</span></h1>
    <nav class="navbar">
        <div class="container-fluid">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            <a class="btn btn-success" href="registrosancion">Nueva Sancion
            </a>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark" >
                    <tr>
                        <th scope="col">Beneficiario</th>
                        <th scope="col">Tipo de sancion</th>
                        <th scope="col">Observacion</th>
                        <th scope="col">Fecha de asignacion</th>
                        <th scope="col">Fecha de compromiso</th>
                        <th scope="col">Fecha de cierre</th>
                        <th>Estado</th>
                        <th>Accciones</th>
                        <th>Detalle</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td>123456</td>
                        <td>Restraso</td>
                        <td>Entrego un día despues de la fecha</td>
                        <td>22/11/2022</td>
                        <td>23/11/2022</td>
                        <td>24/11/2022</td>
                        <td>En proceso</td>
                        <td>
                            <a class="btn btn-warning" href="registrosancion">Editar</a>
                               
                        </td>
                        <td><a type="button" data-toggle="modal" data-target="#dialogo1"><span class="material-symbols-outlined verdetalle" >visibility</span></a></td>

                    </tr>


                    <tr>

                        <td>1007452</td>
                        <td>Extraviado</td>
                        <td>No entrega en la fecha acordada y no encuentra el libro</td>
                        <td>25/11/2022</td>
                        <td>16/12/2022</td>
                        <td>17/12/2022</td>
                        <td>Finalizada</td>
                        <td>
                            <a class="btn btn-warning" href="registrosancion">Editar</a>
                               
                        </td>
                        <td><a type="button" data-toggle="modal" data-target="#dialogo1"><span class="material-symbols-outlined verdetalle" >visibility</span></a></td>
                    </tr>


                       <tr>

                        <td>525511</td>
                        <td>Rayado</td>
                        <td>Proceso disciplinario</td>
                        <td>25/11/2022</td>
                        <td>17/12/2022</td>
                        <td>18/12/2022</td>
                        <td>disciplinario</td>
                        <td>
                            <a class="btn btn-warning" href="registrosancion">Editar</a>
                            
                           
                        </td>
                        <td><a type="button" data-toggle="modal" data-target="#dialogo1"><span class="material-symbols-outlined  verdetalle" >visibility</span></a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


<!-- Modal -->
 <div class="container"> 


    <div class="modal fade" id="dialogo1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
    
          <!-- cabecera del diálogo -->
          <div class="modal-header">
            <h4 class="modal-title">Detalle de sanción</h4>
            <button type="button" class="close" data-dismiss="modal">X</button>
          </div>
    
          <!-- cuerpo del diálogo -->
          <div class="modal-body">
            	<!-- Grupo: Imprimir Benficiario -->
			<div class="formulario__grupo" id="grupo__observacion">
				<label for="observacion" class="formulario__label">Nombre</label>
				<div class="formulario__grupo-input">
					<input disabled type="text" class="formulario__input" name="ggf" id="dgfg">
				</div>
			</div>

			<!-- Grupo: Sancion -->
			<div class="formulario__grupo" id="grupo__sancion">
				<label for="sancion" class="formulario__label">Tipo de sancion</label>
				<div class="formulario__grupo-input">
                    <input type="text" disabled class="formulario__input" name="tipo" id="tipo">
					
				</div>
	

			</div>

			<!-- Grupo: Observacion -->
			<div class="formulario__grupo" id="grupo__observacion">
				<label for="observacion" class="formulario__label">Observacion</label>
				<div class="formulario__grupo-input">
					<input type="text" disabled class="formulario__input" name="observacion" id="observacion">
	
				</div>
	
			</div>

			<!-- Grupo: Asignacion-->
			<div class="formulario__grupo" id="grupo__asignacion">
				<label for="asignacion" class="formulario__label">Fecha de asignacion</label>
				<div class="formulario__grupo-input">
					<input type="date" disabled class="formulario__input" name="asignacion" id="asignacion" disabled>
				</div>

			</div>


            <!-- Grupo: compromiso -->
			<div class="formulario__grupo" id="grupo__cierre">
				<label for="compromiso" class="formulario__label">Fecha de Compromiso</label>
				<div class="formulario__grupo-input">
					<input type="date" disabled class="formulario__input" name="compromiso" id="compromiso">

				</div>
		
			</div>



			<!-- Grupo: Cierre -->
			<div class="formulario__grupo" id="grupo__cierre">
				<label for="cierre" class="formulario__label">Fecha de cierre</label>
				<div class="formulario__grupo-input">
					<input type="date" disabled class="formulario__input" name="cierre" id="cierre">

				</div>
		
			</div>


            	<!-- Grupo: Cierre -->
			<div class="formulario__grupo" id="grupo__cierre">
				<label for="Estado" class="formulario__label">Estado</label>
				<div class="formulario__grupo-input">
					<input type="text" disabled class="formulario__input" name="Estado" id="Estado">

				</div>
		
			</div>


	

			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<a></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
			</div>
		</form>

	</div>
          </div>
    
          
    
        </div>
      </div>
    </div> 

  </div>



</main>

</div>