<title>RESERVAS</title>

<body>
  <main class="main-container">
      <h1 class="text-center">RESERVAS<span class="material-symbols-outlined">calendar_month</span></h1>
      <nav class="navbar buttonAddBook">
          <div class="container-fluid">
            <a class="btn btn-success" href="addReserva"><span class="material-symbols-outlined">add</span>Nueva Reserva</a>
          </div>
      </nav>
    <div class="container-fluid" id='calendar'></div>
  </main>
  </div>
</body>