    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <!-- Custom JS -->
{{!-- <script src="/js/jsVista.js"></script> --}}
<script src="/js/forecastTables.js"></script>

<footer class="footer footer-default bg-info text-white"> 
  <div class="container" >
    <div class="copyright float-none text-center flex">
      <div class="col2">&#169  Todos los derechos reservados
    </div>
  </div>
</footer>
  </body>
</html> 