<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<script src="/js/validarUser.js"></script>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>


<footer class="footer footer-default text-white"> 
  <div class="container" >
    <div class="copyright float-none text-center flex">
      <div class="col2">&#169  Todos los derechos reservados
    </div>
  </div>
</footer>
  </body>
</html> 